{% load static google_translate wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html data-lt-installed="true">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Open Education Week{% block og_title %}{% endblock %}">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="https://www.openeducationweek.org">
    <meta property="og:description"
        content="{% block og_description %}Open Education Week’s goal is to raise awareness about free and open educational opportunities that exist for everyone, everywhere, right now.{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% block og_image %}{%static 'web/images/ogimage.png' %}{% endblock %}">
    <meta name="frontend/config/environment"
        content="%7B%22modulePrefix%22%3A%22frontend%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22%2F%22%2C%22locationType%22%3A%22auto%22%2C%22historySupportMiddleware%22%3Atrue%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%2C%22_APPLICATION_TEMPLATE_WRAPPER%22%3Afalse%2C%22_DEFAULT_ASYNC_OBSERVERS%22%3Atrue%2C%22_JQUERY_INTEGRATION%22%3Afalse%2C%22_TEMPLATE_ONLY_GLIMMER_COMPONENTS%22%3Atrue%7D%2C%22APP%22%3A%7B%22API_NAMESPACE%22%3A%22api%22%2C%22API_HOST%22%3A%22https%3A%2F%2Fapi.openeducationweek.org%22%2C%22name%22%3A%22frontend%22%2C%22version%22%3A%221.0.0%2Bf62653f6%22%7D%2C%22fastboot%22%3A%7B%22hostWhitelist%22%3A%5B%7B%7D%2C%22www.openeducationweek.org%22%5D%7D%2C%22moment%22%3A%7B%22includeTimezone%22%3A%22subset%22%7D%2C%22metricsAdapters%22%3A%5B%7B%22name%22%3A%22GoogleAnalytics%22%2C%22environments%22%3A%5B%22production%22%5D%2C%22config%22%3A%7B%22id%22%3A%22UA-4248822-6%22%7D%7D%5D%2C%22svgJar%22%3A%7B%22strategy%22%3A%22symbol%22%2C%22sourceDirs%22%3A%5B%22public%2Fsvg%22%5D%2C%22optimizer%22%3Afalse%7D%2C%22ember-simple-auth-token%22%3A%7B%22serverTokenEndpoint%22%3A%22https%3A%2F%2Fapi.openeducationweek.org%2Fapi-token-auth%2F%22%2C%22serverTokenRefreshEndpoint%22%3A%22https%3A%2F%2Fapi.openeducationweek.org%2Fapi-token-refresh%2F%22%2C%22refreshTokenPropertyName%22%3A%22token%22%2C%22refreshAccessTokens%22%3Atrue%2C%22refreshLeeway%22%3A300%2C%22authorizationPrefix%22%3A%22JWT%20%22%2C%22authorizationHeaderName%22%3A%22Authorization%22%7D%2C%22ember-simple-auth%22%3A%7B%22authorizer%22%3A%22authorizer%3Atoken%22%2C%22crossOriginWhitelist%22%3A%5Bnull%5D%7D%2C%22exportApplicationGlobal%22%3Afalse%7D">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ7S0CWF1F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MZ7S0CWF1F');
    </script>

    <!-- Mario: Using Tailwind via CDN -->
    <!-- Needs to go before custom styles -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- Mario added fontawesome -->
    <script src="https://kit.fontawesome.com/99fcecbc40.js"  crossorigin="anonymous"></script>
    <!-- Mario added google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Mario added base.css in head -->
    <link rel="stylesheet" href="{%static 'web/css/base.css'%}">
    <meta name="ember-cli-head-start" content="">
    <title>
      Open Education Week
      {% block title %}
      {% if page.seo_title %}- {{ page.seo_title }}{% elif page.title %}- {{ page.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
      {% wagtail_site as current_site %}
      {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
      {% endblock %}
    </title>
    <meta name="ember-cli-head-end" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/images/favicon.png' %}">
    {% block extra_head %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="ember-application application page">
    {% wagtailuserbar %}

    <div id="ember-basic-dropdown-wormhole"></div>

    <header id="oewHeader" class="header shadow-md z-50 bg-white">
        <div
            class="global-header bg-blue-600 w-full hidden md:flex flex-row items-center align-center justify-end lg:h-6 uppercase text-xs font-sans text-right">
            <div class="container">
                <a class="global-header__item" href="https://www.oeglobal.org/">OE&nbsp;Global</a>
                <a class="global-header__item" href="https://www.oelatam.org/">OE&nbsp;LATAM</a>
                <a class="global-header__item" href="https://www.cccoer.org/">CCCOER</a>
                <a class="global-header__item" href="https://conference.oeglobal.org/">Conference</a>
                <a class="global-header__item active" href="/">OE&nbsp;Week</a>
                <a class="global-header__item" href="https://awards.oeglobal.org/">OE&nbsp;Awards</a>
                <a class="global-header__item mr-0" href="https://twitter.com/OpenEdGlobal"><i class="fab fa-twitter"></i><span class="hidden">Twitter</span></a>
                <a href="https://www.oeglobal.org/communication/oeg-newsletter/" class="global-header__item mx-2"><i class="fal fa-envelope"></i><span class="hidden">Newsletter</span></a>
            </div>
        </div>
        <div class="container pr-0 lg:p-4">
            <header class="banner">
                <div class="flex items-center justify-between h-full">
                    <a href="/" class="brand">
                        <img src="{%static 'web/images/oeweek.svg'%}" alt="Open Education Week Logo">
                    </a>
                    <nav id="mainMenu" role="navigation" class="nav-primary lg:block flex hidden">
                        <ul class="nav nav-dropdown flex gap-2 flex-col lg:flex-row lg:items-center">

                            <li class="menu-item dropdown">
                                <a href="/pages/about/"><i class="fal fa-info-circle"></i> About</a>
                                <ul class="dropdown-content">
                                    <li class="menu-item"><a href="/pages/promote/">Promo Kit</a></li>
                                    <li class="menu-item"><a href="https://connect.oeglobal.org/c/oeweek/33">OEG Connect</a></li>
                                    <li class="menu-item"><a href="/pages/faq/">FAQ</a></li>
                                </ul>
                            </li>

                            {% if hide_resource_buttons == False %}
                            <!--
                            <div class="ember-basic-dropdown">
                                <div id="ember6"
                                    class="ember-view ember-basic-dropdown-trigger ember-basic-dropdown-trigger--in-place"
                                    role="button" tabindex="0" data-ebd-id="ember5-trigger"
                                    aria-owns="ember-basic-dropdown-content-ember5" aria-expanded="false">

                                    <li class="menu-item">
                                        <a href="/events/"
                                            id="ember5" class="ember-view"><i class="fal fa-calendar-week"></i> 2023 Events</a>
                                    </li>
                                </div>
                            </div>
                            -->

                            <div class="ember-basic-dropdown">
                                <div id="ember6"
                                    class="ember-view ember-basic-dropdown-trigger ember-basic-dropdown-trigger--in-place"
                                    role="button" tabindex="0" data-ebd-id="ember5-trigger"
                                    aria-owns="ember-basic-dropdown-content-ember5" aria-expanded="false">

                                    <li class="menu-item">
                                        <a href="{% url 'schedule_list' 'all' %}"
                                            id="ember5" class="ember-view"><i class="fal fa-calendar-days"></i> 2023 Schedule</a>
                                    </li>
                                </div>
                            </div>
                            {% endif %}

                            <li class="menu-item dropdown">
                                <a href="/library/resources/"><i class="fal fa-books"></i> Library</a>
                                <ul class="dropdown-content">
                                    <li class="menu-item"><a href="/library/resources/">Asset Archive</a></li>
                                    <li class="menu-item"><a href="/library/events/">Event Archive</a></li>
                                </ul>
                            </li>

                            {% if user.is_staff %}
                            <div class="ember-basic-dropdown">
                                <div id="ember6"
                                    class="ember-view ember-basic-dropdown-trigger ember-basic-dropdown-trigger--in-place"
                                    role="button" tabindex="0" data-ebd-id="ember5-trigger"
                                    aria-owns="ember-basic-dropdown-content-ember5" aria-expanded="false">

                                    <li class="menu-item">
                                        <a href="{% url 'staff_view' %}"
                                            id="ember5" class="ember-view"><i class="fal fa-briefcase"></i> Staff</a>
                                    </li>
                                </div>
                            </div>
                            {% endif %}

                            {% if signup_enabled and user.is_authenticated %}
                            <div class="ember-basic-dropdown">
                                <div id="ember6"
                                    class="ember-view ember-basic-dropdown-trigger ember-basic-dropdown-trigger--in-place"
                                    role="button" tabindex="0" data-ebd-id="ember5-trigger"
                                    aria-owns="ember-basic-dropdown-content-ember5" aria-expanded="false">

                                    <li class="menu-item">
                                        <a href="{% url 'c_profile:view' %}"
                                            id="ember5" class="ember-view"><i class="fal fa-user"></i> Profile</a>
                                    </li>

                                </div>
                            </div>
                            {% endif %}

                            {% if contributions_open == True %}
                            <div class="ember-basic-dropdown">
                                <div id="ember6"
                                    class="ember-view ember-basic-dropdown-trigger ember-basic-dropdown-trigger--in-place"
                                    role="button" tabindex="0" data-ebd-id="ember5-trigger"
                                    aria-owns="ember-basic-dropdown-content-ember5" aria-expanded="false">

                                    <li class="menu-item">
                                        <a href="/contribute/"
                                            id="ember5" class="ember-view button button-outline w-full md:w-auto">Contribute</a>
                                    </li>
                                </div>
                            </div>
                            {% endif %}

                            <div class="ember-basic-dropdown">
                                <div id="ember6"
                                    class="ember-view ember-basic-dropdown-trigger ember-basic-dropdown-trigger--in-place"
                                    role="button" tabindex="0" data-ebd-id="ember5-trigger"
                                    aria-owns="ember-basic-dropdown-content-ember5" aria-expanded="false">
                                </div>
                            </div>

                        </ul>
                    </nav>

                    <button class="toggle-menu flex items-center justify-center lg:hidden text-purple-500"
                        type="button" onclick="toggleMenu()">
                        <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" class="menu">
                            <title>nav/toggle-button</title>
                            <g fill-rule="nonzero" fill="none">
                                <path d="M0 0l64 1v64H0z"></path>
                                <path
                                    d="M16.25 20.8h31.5v3.528h-31.5V20.8zm0 12.222v-3.444h31.5v3.444h-31.5zm0 9.778v-3.528h31.5V42.8h-31.5z"
                                    fill="currentColor"></path>
                            </g>
                        </svg>
                    </button>
                </div>
            </header>
        </div>
    </header>
    <div class="bg-gray-100 py-8 lg:py-20">
        <div class="container">
            <div class="w-full content">

                    <div id="oegcontent" class="oegcontent">
                        <!--BEGIN CONTENT-->
                        {% block content %}
                        <h1>Open Education Week</h1>
                        {% endblock %}
                        <!--END CONTENT-->
                    </div>
                    <div class="block mt-16">
                        <a href="https://www.oeglobal.org/get-involved/become-oeglobal-member/" title="Become a Open Education Global member">
                            <img srcset="{% static 'web/images/become-a-member-sm.png' %} 600w,
                              {% static 'web/images/become-a-member.png' %}"
                              alt="Become a member" class="w-full mx-auto rounded-md z-0">
                        </a>
                    </div>
            </div>
        </div>
    </div>

    <div class="site--footer text-gray-800 pb-10 lg:pt-20">

        <div class="container flex flex-col items-start just">
            <div class="flex flex-col lg:flex-row gap-16 w-full justify-between">
                <div class="w-full lg:w-1/4">

                    <div class="py-8 flex flex-col items-center justify-center gap-2 lg:mb-20 text-center">
                        <div class="text-sm">Organized by</div>
                        <a href="https://www.oeglobal.org/">
                            <img src="{% static 'web/images/oeglobal.svg'%}" alt="">

                        </a>
                    </div>
                </div>
                <ul class="hidden lg:w-3/4 ml-16 lg:grid grid-cols-3 gap-8">
                    <ul class="sub-menu flex flex-col gap-1 mb-4">
                        <li class="font-bold mb-2">About</li>
                        <li>
                            <a href="/pages/about/" id="ember14"
                                class="active ember-view">All About Open Education Week</a>
                        </li>
                        <li>
                            <a href="/pages/promote/" id="ember14"
                                class="active ember-view">Promote OE Week 2023</a>
                        </li>
                        <li>
                            <a href="/pages/faq/" id="ember15" class="ember-view">FAQ</a>
                        </li>
                    </ul>
                    <ul class="sub-menu flex flex-col gap-1 mb-4 leading-snug">
                        <li class="font-bold mb-2">Participate in #OEweek</li>
                        {% if contributions_open == True %}
                        <li>
                            <a href="/contribute/" id="ember17" class="ember-view">Contribute an asset or activity</a>
                        </li>
                        {% endif %}
                        <li><a href="/events/">2023 Activity Schedule</a></li>
                        <li><a href="/resources/">2023 OE Resource Library</a></li>
                        <li>
                            <a href="https://connect.oeglobal.org/c/oeweek/33/none" target="_blank"
                                rel="noopener noreferrer">OEG Connect</a>
                        </li>
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:logout' %}?next=/">Log out</a></li>
                            {% elif signup_enabled  %}
                                <li><a href="{% url 'magiclink:logout' %}?next=/">Log out</a></li>
                            {% endif %}
                        {% elif signup_enabled %}
                            <li><a href="{% url 'magiclink:signup' %}">Sign up</a></li>
                            <li><a href="{% url 'magiclink:login' %}">Log in</a></li>
                        {% endif %}

                </ul>
                <div class="sub-menu flex flex-col gap-1 mb-4">
                    <h3 class="font-bold mb-2">Join #OEWeek on</h3>
                    <ul class="flex gap-1 text-xl">
                        <li><a href="https://twitter.com/OEWeek" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i> <span class="hidden">Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/openeducationwk" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i> <span class="hidden">Facebook</span></a></li>
                        <li><a href="https://www.instagram.com/oeweek/"><i class="fab fa-instagram-square"></i></i><span class="hidden">Instagram</span></a></li>
                        <li><a href="https://www.linkedin.com/company/openeducationglobal/" rel="noopener noreferrer"><i class="fab fa-linkedin"></i> <span class="hidden">LinkedIn</span></a></li>
                        <li><a href="https://www.youtube.com/c/OpenEducationGlobal"><i class="fab fa-youtube"></i> <span class="hidden">YouTube</span></a></li>
                    </ul>
                </div>
            </div>
            </div>


        </div>
    </div> {% comment %} .site-footer  {% endcomment %}

    <footer class="site--footer2 bg-blue-800 text-gray-100 pb-20 pt-10 lg:pt-10">
        <div class="container flex flex-col lg:flex-row justify-between text-sm">
            <div class="w-full lg:w-8/12 pb-4 lg:pb-0 flex gap-2">
                <div class="cc-icons mr-1 flex-grow-0 flex-shrink-0">
                    <i class="fa-brands fa-creative-commons fa-2x"></i>
                    <i class="fa-brands fa-creative-commons-by fa-2x"></i>
                </div>
                <p>
                    Content on this site is licensed under a <a class="underline"
                        href="https://creativecommons.org/licenses/by/4.0/">Creative Commons
                        Attribution 4.0 International License</a>, except where otherwise noted.
                </p>
            </div>
            <div class="flex justify-center lg:justify-end lg:items-start w-full lg:w-4/12">
                <a class="mb-0! underline" href="https://www.oeglobal.org/terms-of-use-and-privacy-policy/"
                    target="_blank" rel="noopener noreferrer">Terms of Use and Privacy Policies.</a>
            </div>
        </div>
    </footer>

    <nav class="mobile-nav block bg-white text-gray-600 fixed md:hidden bottom-0 w-full h-58px z-50 w-screen max-w-full text-xs sf-hidden">
    </nav>

    <div class="google_translate_wrapper bg-blue-800 text-gray-100 notranslate">{% google_translate type='horizontal' language='en' %}</div>

<script>
    function toggleMenu() {
        var header = document.getElementById("oewHeader");
        var menu = document.getElementById("mainMenu");
        header.classList.toggle("menu-open");
        menu.classList.toggle("hidden");
    }
</script>
{% if timezone_known == False %}
{# getCookie(): https://devsheet.com/javascript-function-to-get-cookie-value-by-name/ #}
<script>
    function get_cookie(cookie_name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + cookie_name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }
    window.onload = function () {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/set-timezone/", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
        xhr.send("timezone=" + Intl.DateTimeFormat().resolvedOptions().timeZone);
        {% if reload_after_timezone_change %}
        xhr.onload = function () {
            window.location.reload(true);
        }
        {% endif %}
    }
</script>
{% endif %}

</body>

</html>
