:root {
	--color-orange: #ff9533;
	--color-gray-gray-900: #1a1a1a;
	--color-gray-gray-800: #333333;
	--color-gray-gray-700: #4d4d4d;
	--color-gray-gray-600: #666666;
	--color-gray-gray-500: #808080;
	--color-gray-gray-400: #999999;
	--color-gray-gray-300: #b3b3b3;
	--color-gray-gray-200: #d9d9d9;
	--color-gray-gray-100: #f5f5f5;
	--color-gray-white: #ffffff;
	--color-secondary-fucsia-900: #3d0e49;
	--color-secondary-fucsia-800: #561467;
	--color-secondary-fucsia-700: #7c1b8d;
	--color-secondary-fucsia-600: #aa22b4;
	--color-secondary-fucsia-500: #db43db;
	--color-secondary-fucsia-400: #e05cdc;
	--color-secondary-fucsia-300: #e77ee3;
	--color-secondary-fucsia-200: #f0b2ec;
	--color-secondary-fucsia-100: #f7d4f2;
	--color-secondary-turq-900: #0d454a;
	--color-secondary-turq-800: #115e5f;
	--color-secondary-turq-700: #1a8f83;
	--color-secondary-turq-600: #1fad98;
	--color-secondary-turq-500: #26d7b2;
	--color-secondary-turq-400: #4be7c5;
	--color-secondary-turq-300: #80e5cf;
	--color-secondary-turq-200: #a4eadc;
	--color-secondary-turq-100: #cef8ef;
	--color-secondary-yellow-900: #5d3209;
	--color-secondary-yellow-800: #8e6106;
	--color-secondary-yellow-700: #be9304;
	--color-secondary-yellow-600: #e6c805;
	--color-secondary-yellow-500: #ffe525;
	--color-secondary-yellow-400: #fce95a;
	--color-secondary-yellow-300: #fcec83;
	--color-secondary-yellow-200: #fcf1a1;
	--color-secondary-yellow-100: #fdf5ce;
	--color-secondary-red-900: #600623;
	--color-secondary-red-800: #7d081f;
	--color-secondary-red-700: #af0821;
	--color-secondary-red-600: #ce1222;
	--color-secondary-red-500: #e51a1a;
	--color-secondary-red-400: #ff5547;
	--color-secondary-red-300: #ff8670;
	--color-secondary-red-200: #ffaa99;
	--color-secondary-red-100: #ffdacc;
	--color-secondary-transparent: #ffffff;
	--color-oeweek-green-900: #134912;
	--color-oeweek-green-800: #1e721d;
	--color-oeweek-green-700: #268f24;
	--color-oeweek-green-600: #2daa2a;
	--color-oeweek-green-500: #34c431;
	--color-oeweek-green-400: #4ed24b;
	--color-oeweek-green-300: #8be085;
	--color-oeweek-green-200: #b9edb6;
	--color-oeweek-green-100: #dbf5d6;
	--color-oeweek-purple-800: #221155;
	--color-oeweek-purple-500: #664bda;
	--color-oeweek-purple-100: #dbd5f6;
	--color-brand-blue-900: #0d1530;
	--color-brand-blue-800: #1c2b5a;
	--color-brand-blue-700: #1f377a;
	--color-brand-blue-600: #1a52b2;
	--color-brand-blue-500: #0d59f2;
	--color-brand-blue-400: #3b80f7;
	--color-brand-blue-300: #6ca0f9;
	--color-brand-blue-200: #9ec1fa;
	--color-brand-blue-100: #d8e7fd;
}
.oegcontent label {
  font-weight: bold;
}
.oegcontent input {
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}
.oegcontent textarea {
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}
.errorlist {
  color: red;
}

/* Mario - Handling Long Words and URLs  */
/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */

.detail-content a,
.detail-content .description {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Mario 2023 Dropdow menus */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
}
.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
}

.menu-open .dropdown-content {
  width: 100%;
}

@media screen and (min-width: 1024px) {

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.25rem;
    overflow: hidden;
  }
}

/* Mario - Mobile menu */

.nav-primary {
  display: none;
}

.menu-item {
  letter-spacing: 1px;
  padding: 0;
}
.menu-item a {
  padding: 1em;
  display: block;
}
.menu-item.has-children {
  padding-right: 2rem;
}
.menu-item.has-children::after {
  content: "+";
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 0.5em);
  font-size: 1.25rem;
  line-height: 1.5rem;
  line-height: 1;
}
.menu-item.has-children .ember-basic-dropdown-content {
  top: 57px;
  width: 250px;
}
.menu-item.active {
  border-bottom: 2px solid var(--color-oeweek-purple-100);
}
.menu-item a:hover {
  background-color: var(--color-oeweek-purple-100);
}
.nav
  .ember-basic-dropdown-trigger[aria-expanded="true"]
  .menu-item.has-children::after {
  content: "-";
}
.menu-item-child a {
  display: block;
  display: flex;
  align-items: center;
  line-height: 1.625;
  text-align: left;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
}
.menu-open .toggle-menu {
  background-color: var(--color-oeweek-purple-500);
  fill: #fff;
  color: #fff;
}

.menu-open .banner .nav {
  background-color: var(--color-oeweek-purple-100);
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1.5rem 2rem;
}
.menu-open .banner .nav a:not(.button-outline),
.menu-open .banner .nav button {
  border-style: none;
  display: inline-block;
  text-decoration: none;
}
.menu-open .menu-item a {
  width: 100%;
}
.menu-open .banner .nav .menu-item {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  height: auto;
  margin-right: 0;
  position: relative;
}
.menu-open .banner .nav .sub-menu,
.menu-open .nav-primary {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  position: absolute;
}
.menu-open .banner .nav .sub-menu {
  top: 150px;
  --tw-bg-opacity: 1;
  display: none;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
  left: 0;
  width: 12rem;
  z-index: 20;
}
.button-outline,
.menu-open .banner .nav .sub-menu a {
  font-size: 1rem;
  line-height: 1.6rem;
}
.menu-open .banner .nav :last-child .sub-menu {
  top: 97px;
  left: auto;
  right: 0;
}
.menu-open
  .banner
  .nav
  .ember-basic-dropdown-trigger--below
  .menu-item
  .sub-menu {
  border-style: none;
  display: flex;
}
.menu-open .menu-item.has-children::after {
  top: 1.25rem;
  right: 12px;
}
.menu-open .nav-primary {
  top: 64px;
  left: -1em;
  right: 0;
  z-index: 200;
  --tw-bg-opacity: 1;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.menu-open .menu-item {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 100%;
}
.menu-open .ember-basic-dropdown-trigger--below .menu-item .sub-menu {
  top: auto;
  position: unset;
  z-index: 100;
  display: flex;
  padding-left: 0.5rem;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
}
.menu-open
  .ember-basic-dropdown-trigger--below
  .menu-item
  .sub-menu
  .menu-item {
  width: 100%;
}
.menu-open .ember-basic-dropdown-content {
  margin-top: 1rem;
  position: static;
}

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

*,
::after,
::before {
  border-style: solid;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-color: #d9d9d9;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

.font-sans,
html {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
  text-transform: none;
}

[type="button"] {
  -webkit-appearance: button;
}

h1,
p {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}

[role="button"],
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

svg {
  display: block;
  vertical-align: middle;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.site--footer {
  background-color: var(--color-brand-blue-100);
}

.site--footer .sub-menu li {
  margin: 0!important;
}

.site--footer .sub-menu a,
.site--footer .sub-menu a:visited {
  --tw-bg-opacity: 1;
  color: var(--color-brand-blue-600);
  background-color: transparent;
  border-radius: 0.25rem;
  display: block;
  transition-property: all;
  transition-duration: 250ms;
  padding: 0.25rem 0.5rem;
  padding-left: 0;
  margin: 0;
}

.site--footer .sub-menu a:hover,
.site--footer .sub-menu a:active {
  background-color: var(--color-brand-blue-200);
  padding-left: 0.5rem;
}

.site--footer .sub-menu a  {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.prose {
  color: #333;
  max-width: 65ch;
}

.prose a {
  color: #333;
  text-decoration: underline;
  font-weight: 500;
}

.prose a:hover {
  color: #664bda;
}

.prose {
  font-size: 1rem;
  line-height: 1.75;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose h2 + *,
.prose h3 + *,
.prose h4 + *,
.prose hr + *,
.prose > :first-child {
  margin-top: 0;
}

.prose > :last-child {
  margin-bottom: 0;
}

.prose.max-w-none {
  max-width: none;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 82, 178, var(--tw-bg-opacity));
}

.bg-blue-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(28, 43, 90, var(--tw-bg-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.rounded {
  border-radius: 0.25rem;
}

.border-t {
  border-top-width: 1px;
}
/* clashes with Tailwind -> disabled
.flex {
  display: flex;
}

.hidden {
  display: none;
}
*/

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.font-bold {
  font-weight: 700;
}

.h-20 {
  height: 5rem;
}

.h-32 {
  height: 8rem;
}

.h-full {
  height: 100%;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.85rem;
  line-height: 1.19rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 4rem;
}

.p-8 {
  padding: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pr-0 {
  padding-right: 0;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.banner,
.menu-item {
  position: relative;
}

* {
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(13, 89, 242, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(245, 245, 245, var(--tw-text-opacity));
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.z-50 {
  z-index: 50;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-16 {
  gap: 4rem;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  100%,
  75% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.content h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.1rem;
  letter-spacing: -0.1px;
  margin-bottom: 2.5rem;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  font-weight: bold;
}

.content h2,
.content h3,
.content h4 {
  margin-top: 2em;
}

.content h2 {
  font-size: 1.65rem;
}
.content h3 {
  font-size: 1.45rem;
}
.content h4 {
  font-size: 1.25rem;
}

.content ul,
.content ol {
  padding-left: 0.5em;
  margin-left: 1em;
}

.content ul:not(.list-none) {
  list-style: disc;
}
.content ol:not(.list-none) {
  list-style: decimal;
}
.content ul.list-none,
.content ol.list-none {
  padding-left: 0;
  margin-left: 0;
}

@media (min-width: 1024px) {
  .content h1 {
    font-size: 2.75rem;
    line-height: 3.3rem;
    letter-spacing: -0.35px;
  }
  .content h2 {
    font-size: 2.15rem;
  }
  .content h3 {
    font-size: 1.8rem;
  }
  .content h4 {
    font-size: 1.45rem;
  }
}

.global-header__item {
  display: inline-flex;
  flex: 0 1 auto;
  height: 1.5rem;
  padding-left: 0.025rem;
  padding-right: 0.025rem;
  padding-top: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(216, 231, 253, var(--tw-text-opacity));
  letter-spacing: 1px;
}

.global-header__item.active {
  --tw-bg-opacity: 1;
  background-color: rgba(13, 89, 242, var(--tw-bg-opacity));
}

.nav-logo {
  height: 2.5rem;
  width: auto;
}

@media (min-width: 640px) {
  .nav-logo {
    height: 3rem;
  }
}

@media (min-width: 1024px) {
  .global-header__item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .nav-logo {
    height: 4rem;
  }

  .banner {
    margin-bottom: 0;
  }
}

.button-outline {
  font-size: 1rem;
}

.button-outline {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  display: inline-block;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgba(51, 51, 51, var(--tw-text-opacity));
  border: 3px solid #333;
  padding: 0.75rem 1rem;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:ml-4 {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  @media (min-width: 100%) {
    .lg\:container {
      max-width: 100%;
    }
  }

  .lg\:prose-lg {
    font-size: 1.125rem;
    line-height: 1.7777778;
  }

  .lg\:prose-lg p {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }

  .lg\:prose-lg h2 + *,
  .lg\:prose-lg h3 + *,
  .lg\:prose-lg h4 + *,
  .lg\:prose-lg hr + *,
  .lg\:prose-lg > :first-child {
    margin-top: 0;
  }

  .lg\:prose-lg > :last-child {
    margin-bottom: 0;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:h-6 {
    height: 1.5rem;
  }

  .lg\:mb-4 {
    margin-bottom: 1rem;
  }

  .lg\:mb-20 {
    margin-bottom: 5rem;
  }

  .lg\:ml-32 {
    margin-left: 8rem;
  }

  .lg\:p-4 {
    padding: 1rem;
  }

  .lg\:pt-20,
  .lg\:py-20 {
    padding-top: 5rem;
  }

  .lg\:py-20 {
    padding-bottom: 5rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0;
  }

  .lg\:w-1\/4 {
    width: 25%;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }

  .lg\:w-4\/12 {
    width: 33.333333%;
  }

  .lg\:w-7\/12 {
    width: 58.333333%;
  }

  .lg\:w-8\/12 {
    width: 66.666667%;
  }
}

/* Mario home page */
.button-main {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 85, 71, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(206, 18, 34, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  display: inline-block;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(245, 245, 245, var(--tw-text-opacity));
  padding: 0.75rem 1rem;
}
.button-main:hover {
  opacity: 0.8;
}

.social-list {
  list-style-type: none;
  padding-left: 0!important;
  margin-left: 0!important;
}

.card h3 {
  margin-top: 0;
}

.video-wrapper {
  aspect-ratio: 16 / 9;
}
.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

/* Banner after party */

.days-to-go {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  text-align: center;
}
.days-to-go .inner-days {
  margin: 0 auto;
  width: auto;
  display: inline-block;
}

/* Events and Assets */
.item-content h3.item-title {
  font-size: 1.2rem;
}


/* Mario 2023 - mark text */

mark {
  background-color: var(--color-secondary-yellow-300);
  padding: 0 1px;
}

.coming-up h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

/* Google Translate wrapper */
.google_translate_wrapper {
	box-sizing: border-box;
	display: block;
	float: none;
	height: 3.7rem;
	position: fixed;
	right: 4%;
	width: 14rem;

	bottom: 0px;
	z-index: 999999;

	border: 1px solid #1a52b2;
	font-size: 10pt;
	line-height: 17px;
	padding: 3px 5px;
	white-space: normal;
}
