{% extends 'base.html' %}

{% load static tz %}

{% block extra_head %}
<script src="{% static 'web/js/htmx.min.js' %}" defer></script>
{% endblock extra_head %}

{% block content %}
{% get_current_timezone as current_timezone %}

<br>

<h1>{{ title }}</h1>
<p>
    <form hx-post="{% if reload_after_timezone_change %}{% url 'set_timezone_reload' %}{% else %}{% url 'set_timezone' %}{% endif %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-trigger="change" hx-target="#timezone_result">
        <i class="fal fa-clock"></i> <strong>current time: <mark>{{ current_time_utc | date:'M d, Y H:i' }}</mark></strong>
        <select name="timezone" class="px-3 py-2 rounded-lg">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == current_timezone %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        (UTC time: {{ current_time_utc | utc | date:'M d, Y H:i' }})
    </form>
  </p>
{% if event_count %}
  {% if coming_up_next_list|length > 0 %}
  <div class="mt-4">
    <p class="text-lg mb-2"><i class="fa-sharp fa-regular fa-alarm-exclamation"></i> Coming up next:</p>

    <ul class="list-none p-0 my-0 flex flex-wrap">
      {% for event in coming_up_next_list %}
        <li class="item-content flex-grow bg-white border-2 border-gray-200 p-4"><a class="hover:text-purple-800" href="/events/{{event.year}}/{{event.slug}}/"><strong>{{ event.title }}</strong> (in {{ current_time_utc | timesince:event.event_time }})&nbsp;</a></li>
      {% endfor %}
    </ul>

    <p class="text-sm mt-2">(See below for a full list)</p>
  </div>
  <br>
  <br>
  {% endif %}

  <p><i class="fal fa-hand-pointer"></i> <strong>Please click on a date to expand the details.</strong></p>

  
  <div class="hidden" id="timezone_result">/{{ current_timezone }}/</div>

  <p><i class="fal fa-calculator"></i> <strong>Showing {{ event_count }} events</strong></p>

  <div class="bg-white border-gray-300 rounded-lg p-2 md:p-4 my-8">

  {% for day in days_with_events %}
  {# OPTION 1: expand / collapse based on the day #}
  {# <details {% if day.2|date:'Y-m-d' == current_time_utc|date:'Y-m-d' %}open{% endif %}> #}
  {# OPTION 2: expand all by default #}
  <details open>

  <summary class="text-2xl font-bold cursor-pointer mb-4">{{ day.1 }}</summary>

  <div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-x-4 gap-y-6">
    {% for event in day.3 %}

      {# {{ forloop.counter }} # starting index 1 #}
      {# {{ forloop.counter0 }} # starting index 0 #}
      {# {% if forloop.first %} #}
      {# {% if forloop.last %} #}

      <div class="bg-white mb-2 rounded-lg shadow-sm transition-shadow overflow-hidden hover:shadow-lg border-2 border-gray-200 hover:border-purple-500">
          <!-- Mario's placeholder image. Load custom image when possible -->
          <div class="item-media">
              {# TODO: get rid of the 'if' (here and in `events.html`) by putting the value into `consolidated_image_url_list` #}
              {% if event.consolidated_image_url_list %}
              <a href="/events/{{event.year}}/{{event.slug}}/"><img loading="lazy" src="{{ event.consolidated_image_url_list }}" class="object-cover w-full h-40"></a>
              {% else %}
                  {% load static %}
                  <a href="/events/{{event.year}}/{{event.slug}}/"><img rel="stylesheet" src="{% static 'web/images/placeholder-event-sm.png' %}" class="object-cover w-full h-40"></a>
              {% endif %}
          </div>

          <div class="item-content p-4">
              <h3 class="item-title leading-tight mb-2">
                  <a href="/events/{{event.year}}/{{event.slug}}/"><span class="hidden">#{{ forloop.counter }}.</span>
                  <span class="font-bold">{{ event.title }}</span></a>
              </h3>

              <p class="text-sm mb-1"><i class="fal fa-university"></i> {{ event.institution }}</p>

              {% if event.institution_is_oeg_member %}
              <p class="text-sm mb-1"><i class="fal fa-badge-check"></i><span style="background-color: #ffffcc;"> OEGlobal member<span></p>
              {% endif %}

              {% if event.country %}
              <p class="text-sm mb-1"><i class="fal fa-globe-asia"></i> {{event.country }}, {{event.city}}</p>
              {% endif %}

              <p class="text-sm mb-1">
                  <i class="fal fa-calendar-star"></i> {{ event.event_time|date:'M d, Y H:i' }} <em>({{ current_timezone }})</em>
                  {% if event.event_offset_in_hours %}
                      <span style="color: #cc0000;">&nbsp;
                      {{ event.event_offset_in_hours }}
                      </span>
                  {% endif %}

                  {% if event.event_time_link_to_everytimezone %}
                      <span style="color: #999999;">&nbsp;
                      <em><a href="{{ event.event_time_link_to_everytimezone }}" target="_blank">(view in other timezones)</a></em>
                      </span>
                  {% endif %}
              </p>
          </div>
      </div>
    {% endfor %}
  </div>

  </details>
  {% endfor %}

  </div>
{% else %}
  <p>Call for participation for OEWeek starts on <strong>January 23, 2023</strong>.<br>Please come back to see new events afterwards, or contribute your own.</p>
{% endif %}

{% endblock %}
