{% extends 'base.html' %}

{% block content %}

<h1 class="hidden">Welcome to Open Education Week</h1>
{% load static %}
<div class="relative">
    {% include 'web/snippet-days_to_go.html' %}{# display countown until next year's OE Week #}
    {% if contributions_open == True %}
    <a href="/contribute/">
        <img srcset="{% static 'web/images/home-banner-contribute-sm.svg' %} 600w,
          {% static 'web/images/home-banner-contribute.svg' %}"
          alt="Mark your calendars for next OEWeek March 6-10, 2023 and contribute" class="w-full mx-auto rounded-md z-0">
    </a>
    {% else %}
    <!-- <a href="/schedule/other/"> -->
        <img srcset= "{% static 'web/images/home-banner-after-sm.svg' %} 600w,
        {% static 'web/images/home-banner-after.svg' %}"
        alt="Mark your calendars for next OEWeek March 6-10, 2023" class="w-full mx-auto rounded-md z-0">
    <!-- </a> -->
    {% endif %}

</div>




<section class="my-8">

    <div class="header-group grid md:grid-cols-3 gap-6 items-center mb-8">
        <h2 class="md:col-span-2 text-4xl font-bold mb-0 mt-0"><i class="fak fa-oeweek"></i> Stay Connected</h2>
        <ul class="social-list list-none m-0 p-0 flex justify-end gap-4 text-4xl text-purple-500 md:col-span-1 w-full">
            <li><a href="https://twitter.com/OEWeek"><i class="fab fa-twitter-square"></i><span class="hidden">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/openeducationwk"><i class="fab fa-facebook-square"></i><span class="hidden">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/oeweek/"><i class="fab fa-instagram-square"></i></i><span class="hidden">Instagram</span></a></li>
            <li><a href="https://connect.oeglobal.org/c/oeweek/33"><i class="fak fa-connect-icon"></i><span class="hidden">Connect</span></a></li>
            <li><a href="https://www.youtube.com/channel/UC-jcvZ6z94387QDu52g9VNA"><i class="fa-brands fa-square-youtube"></i> <span class="hidden">Youtube Channel</span></a></li>
            <li><a href="http://eepurl.com/gQfIHr"><i class="fas fa-envelope"></i> <span class="hidden">Subscribe</span></a></li>


            <!-- <li><a href="https://twitter.com/intent/tweet?button_hashtag=OEWeek&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #OEWeek</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li> -->
        </ul>
    </div>


    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 auto-rows-max">

        <a href="https://connect.oeglobal.org/t/hello-we-are-oeweek-come-in/4591" class="bg-white p-8 md:rounded-md flex flex-col justify-center border-2 border-gray-200 hover:border-purple-500 hover:shadow-lg text-gray-700">
            <i class="fak fa-connect-name fa-5x mx-auto mb-6"></i>
            <h2 class="font-bold text-xl text-purple-500 text-center mb-4">OEG Connect</h2>
            <p class="text-base leading-snug">Come in and <strong>say hello!</strong> Join the conversation, share your ideas and highlight
                your favorite topics of the week. </p>
        </a>

        {% if hide_resource_buttons == False %}
        <a href="/schedule/all/" class="bg-green-600 p-8 text-white flex flex-col justify-center md:rounded-md border-2 border-green-600 hover:border-green-800 hover:shadow-lg">
        {% else %}
        <div class="bg-green-600 p-8 text-white flex flex-col justify-center md:rounded-md border-2 border-green-600 hover:border-green-800 hover:shadow-lg">
        {% endif %}
            <i class="fad fa-calendar-week fa-5x mx-auto mb-4"></i>
            <h3 class="font-bold text-xl text-center mb-4">2023 Events</h3>
        {% if hide_resource_buttons == False %}
            <p class="text-base leading-snug">{#Browse the#} <strong>Events and activities</strong> taking place during #OEWeek 2023.</p>
        </a>
        <a href="/resources/" class="bg-red-400 p-8 text-white flex flex-col justify-center md:rounded-md border-2 border-red-400 hover:border-red-800 hover:shadow-lg">
        {% else %}
            <p class="text-base leading-snug font-bold text-center">Coming Soon!</p>
        </div>
        <div class="bg-red-400 p-8 text-white flex flex-col justify-center md:rounded-md border-2 border-red-400 hover:border-red-800 hover:shadow-lg">
        {% endif %}
            <i class="fad fa-box-full fa-5x mx-auto mb-6"></i>
            <h3 class="font-bold text-xl text-center mb-4">2023 Assets</h3>
        {% if hide_resource_buttons == False %}
            <p class="text-base leading-snug">{#Explore the#} <strong>Collection of resources</strong> shared by the community in 2023.</p>
        </a>
        {% else %}
            <p class="text-base leading-snug font-bold text-center">Coming soon!</p>
        </div>
        {% endif %}

    </div>

    <div class="my-16">

    </div>

    <div class="grid md:grid-cols-6 gap-6 my-16 items-start">

    <!--
        <div class="md:col-span-3 bg-purple-300 p-8 md:rounded-md flex flex-col justify-center border-2 border-gray-200 hover:border-purple-800 hover:shadow-lg">
            \<\!\-\- <i class="fad fa-pencil-paintbrush fa-5x mx-auto mb-6"></i>
            <h3 class="font-bold text-xl text-center mb-4">Promotional Kit</h3>
            <p class="text-base leading-snug">You can use the promotional kit to help customize your event.</p>
            <p class="text-center my-8"><a href="/promote/" class="button-main">Get the kit</a></p> \-\-\>

            <p class="mb-4">A quick thank you video for all those educators and students and open education advocates that took part in <strong>#oeweek22</strong></p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/0N5mQ6nX93o?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-full"></iframe>
        </div>
    -->

        <div class="card md:col-span-3 bg-white p-4 md:rounded-md flex flex-col justify-center border-2 border-gray-200 hover:border-purple-800 hover:shadow-lg relative">
            <br>
            <h3 class="text-base mb-2 my-0! text-center">Watch OEWeek Live videos</h3>
            <p class="text-center mb-4">We have collected all OEWeek Live videos in a <a href="https://www.youtube.com/playlist?list=PLze0jtuKTgpGJIAtu_5DhCda8-eptET9g">YouTube playlist.</a> Enjoy!</p>
            <br>

            <div class="video-wrapper"><iframe  src="https://www.youtube.com/embed/videoseries?list=PLze0jtuKTgpGJIAtu_5DhCda8-eptET9g" title="OEWeek Live playlist" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></div>
            <br>
        </div>

        <!-- <a href="/promote/" title="Promotional Kit page" class="card md:col-span-3 bg-white p-4 md:rounded-md flex flex-col justify-center border-2 border-gray-200 hover:border-purple-800 hover:shadow-lg relative">
            <h3 class="text-base mb-2 my-0! text-center">Promotional Kit</h3>
            <p class="text-center">Spread the word with these exclusive and customizable graphic materials.</p>
            <img src="{% static 'web/images/promo-materials.png' %}" class="w-2/3 mx-auto" alt="Open Education Week Promo Materials">

        </a> -->

        <div class="md:col-span-3">
            <a class="twitter-timeline" data-height="800" data-theme="dark" href="https://twitter.com/OEWeek?ref_src=twsrc%5Etfw">Tweets by OEWeek</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</section>




{% endblock %}
