{% extends 'base.html' %}

{% load static %}

{% block title %}
- {{ obj.title }}
{% endblock title %}

{% block og_title %} - {{ obj.title }}{% endblock og_title %}
{% block og_description %}{{ obj.content | safe | striptags | truncatechars:159 }}{% endblock og_description %}
{% block og_image %}{% if obj.consolidated_image_url_detail %}{{ obj.consolidated_image_url_detail }}{% else %}{% static 'web/images/placeholder-event.png' %}{% endif %}{% endblock og_image %}

{% block content %}

<h1>{{ obj.title }}</h1>

<a class="mb-4 block" href="/resources/">&#8592;Back to list of resources</a>

<div class="card bg-white p-4 lg:p-8 rounded grid lg:grid-cols-2 gap-4">

    <div class="detail-media">
        {% if obj.consolidated_image_url_detail %}
        <img src="{{ obj.consolidated_image_url_detail }}">
        {% else %}
        {% load static %}
        <img rel="stylesheet" src="{% static 'web/images/placeholder-asset.png' %}" class="mb-4 w-full">
        {% endif %}
    </div>

    <div class="detail-content mb-4 lg:px-4">

        <div class="mb-8 bg-gray-100 p-4 rounded prose">{{ obj.content | safe }}</div>

        <p class="mb-2"><i class="fal fa-university"></i> <a href="{{ obj.institution_url }}">{{ obj.institution }}</a></p>

        {% if obj.institution_is_oeg_member %}
            <p class="mb-2"><i class="fal fa-badge-check"></i> <span style="background-color: #ffffcc;">OEGlobal member<span></p>
        {% endif %}

        {% if obj.country %}
        <p class="mb-2"><i class="fal fa-globe-asia"></i> {{ obj.country }}, {{ obj.city }}</p>
        {% endif %}

        {% if obj.twitter_institution %}
            <p class="mb-2"><i class="fab fa-twitter"></i> <strong>Twitter</strong>: <a href="{{ obj.twitter_institution_url }}">@{{ obj.twitter_institution_username }}</a></p>
        {% endif %}

        {% if obj.firstname or obj.lastname or obj.contact %}
        <p class="mb-2">
            <i class="fal fa-user-circle"></i> <strong>Contributed by</strong>:
            {% if obj.firstname or obj.lastname %}
                {{ obj.firstname }} {{ obj.lastname }}
            {% else %}
                {{ obj.contact }}
            {% endif %}
        {% if obj.twitter_personal %}
            (Twitter: <a href="{{ obj.twitter_personal_url }}">@{{ obj.twitter_personal_username }}</a>)
        {% endif %}
        </p>
        {% endif %}

        {% if obj.form_language %}
        <p class="mb-2"><i class="fal fa-globe"></i> <strong>Language</strong>: {{ obj.form_language }}</p>
        {% endif %}

        <p><i class="fab fa-creative-commons"></i> <strong>License</strong>: {{ obj.license }}</p>

        <p class="my-6"><a href="{{ obj.link }}" class="bg-purple-500 text-white p-2 rounded hover:bg-purple-800 block"><i class="fal fa-external-link-alt"></i> {{ obj.link }}</a></p>

        {% if user.is_staff %}
            <p class="my-6">
                As staff, you can:
                <form action="{% url 'staff_approve_action' obj.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" name="action" value="reject" class="bg-red-500 rounded px-2 py-1">
                  <input type="submit" name="action" value="send feedback" class="bg-yellow-500 rounded px-2 py-1">
                  <input type="submit" name="action" value="approve" class="bg-green-500 rounded px-2 py-1">
                </form>
            </p>
            <p class="my-6">Or <a href="/admin/web/resource/{{ obj.id }}/change/" class="bg-yellow-500 rounded px-2 py-1">edit this resource</a>.</p>
            <p class="my-6"><a href="{% url 'staff_view' %}">&#8592;Back to approval list</a></p>
        {% endif %}

    </div>

</div>

{% endblock %}
