{% extends 'base.html' %}

{% load static tz %}

{% block extra_head %}
<script src="{% static 'web/js/htmx.min.js' %}" defer></script>
<script>
  function copyToClipBoard() {
	var content = document.getElementById('permalink');
	content.select();
	navigator.clipboard.writeText(content.value);
  }
</script>
{% endblock extra_head %}

{% block content %}
{% get_current_timezone as current_timezone %}

<br>

<h1>{{ title }}</h1>

<p>
  <form hx-post="{% if reload_after_timezone_change %}{% url 'set_timezone_reload' %}{% else %}{% url 'set_timezone' %}{% endif %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="change" hx-target="#timezone_result">
      <i class="fal fa-clock"></i> current time: <mark>{{ current_time_utc | date:'M d, Y H:i' }}</mark>
      <select name="timezone" class="px-3 py-2 rounded-lg">
          {% for tz in timezones %}
          <option value="{{ tz }}"{% if tz == current_timezone %} selected{% endif %}>{{ tz }}</option>
          {% endfor %}
      </select>
      (UTC time: {{ current_time_utc | utc | date:'M d, Y H:i' }})
  </form>
</p>
<div class="hidden" id="timezone_result">/{{ current_timezone }}/</div>

  {% if coming_up_next_list|length > 0 %}
  <div class="mt-4">
    <p class="text-lg mb-2"><i class="fa-sharp fa-regular fa-alarm-exclamation"></i> Coming up next:</p>

    <ul class="list-none p-0 my-0 flex flex-wrap">
      {% for event in coming_up_next_list %}
        <li class="item-content flex-grow bg-white border-2 border-gray-200 p-4"><a class="hover:text-purple-800" href="/events/{{event.year}}/{{event.slug}}/"><strong>{{ event.title }}</strong> (in {{ current_time_utc | timesince:event.event_time }})&nbsp;</a></li>
      {% endfor %}
    </ul>

    <p class="text-sm mt-2">(See below for a full list)</p>
  </div>

  {% endif %}

<div class="bg-white my-8 sm:flex">
  <div class="hidden md:flex md:flex-wrap md:w-full"></div>
  {% for day in schedule_days %}
  <div class="p-2 sm:flex-wrap sm:w-full sm:text-center{% if show_day == day.1 %} bg-purple-300{% endif %}">
    {% if show_day == day.1 %}
    {{ day.2 }}
    {% else %}
    <a href="{% url 'schedule_list' day.0 %}">{{ day.2 }}</a>
    {% endif %}
  </div>
  {% endfor %}
  <div class="p-2 sm:flex-wrap sm:w-full sm:text-center{% if show_day == "my" %} bg-purple-300{% endif %}">
    {% if show_day == "my" %}
    My Favorites
    {% else %}
    <a href="{% url 'my_schedule_list' %}">My Favorites</a>
    {% endif %}
  </div>
  <div class="hidden md:flex md:flex-wrap md:w-full"></div>
</div>

{% if event_count %}
  <p><i class="fal fa-calculator"></i> Showing {{ event_count }} events<p>

  {% for day in days_with_events %}
    {% if day.3|length > 0 %}
    <h2>{{ day.1 }}</h2>

    <div class="bg-white p-0 my-8 border-2 border-gray-300 divide-y-2 divide-solid divide-gray-300">
    {% for event in day.3 %}
      <div class="overflow-hidden">
        <div class="item-content m-4 relative">
          <div class="absolute top-0 right-0" hx-post="{% url "toggle_favorite_event" event.year event.slug %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% with favorited=event.favorite %}
            {% include "web/toggle-favorite.html" %}
            {% endwith %}
          </div>
          <div class="m-2 sm:flex sm:flex-wrap">
            <div class="text-purple-800">{{ event.event_time|date:'M d, Y H:i' }}</div>
            <div class="hidden sm:flex sm:px-1">|</div>
            <div class="font-bold"><a href="/events/{{event.year}}/{{event.slug}}/">{{ event.title }}</a></div>
            <div class="hidden sm:flex sm:px-1">|</div>{{ event.form_language }}
          </div>
          <div>
            <span class="m-2 rounded text-black bg-gray-100 p-1"><i class="fal fa-globe-asia"></i> {{event.country }}, {{event.city}}</span> {% if event.institution %}({{event.institution}}){% endif %} {% if event.institution_is_oeg_member %}&nbsp;<i class="fal fa-badge-check"></i><span style="background-color: #ffffcc;"> OEGlobal member<span>{% endif %}

          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
  {% endfor %}

  {% if my_favorites_permalink %}
  <h2>Share with others</h2>

  <p class="my-8">To share this list with others, you can use following link:</p>
  <p><form class="mb-16">
    <input id="permalink" value="{{ my_favorites_permalink }}" class="w-1/2 rounded px-4 py-3">
    <button class="button-outline" type="button" onclick="copyToClipBoard()"><i class="fa-light fa-copy"></i></button>
  </form></p>
  {% endif %}

{% else %}
{# #todo -- only show instructions on "my favorites" page, not every page with "No results found." #}
  <p><strong>Personalize your own OE Week schedule and have it available here.</strong><br>
    Browse the daily schedule and identify the events you would like to attend, flag them by clicking on the tag <i class="fa-regular fa-bookmark text-gray-400"></i> at the right, it will turn green. <i class="fa-solid fa-bookmark text-green-500"></i> The list of your selected events will be displayed here.
  </p>
{% endif %}

{% endblock %}
