{% if days_to_go %}
    <div class="days-to-go">
        <div class="inner-days shadow-lg text-purple-800 z-20 px-8 py-2 bg-white z-20 rounded-full italic text-sm md:text-2x"><i class="fas fa-alarm-clock mr-4"></i>{{days_to_go}} days until Open Education Week {{days_to_go_year}}!</div>
    </div>
{% endif %}
